.-row-0 {
  display: flex;
  margin-left: 44px;
  margin-top: 0;
  width: 292px;
  height: 30px
}
.style-1 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b6y93.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  width: 72px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style-98 {
  position: relative;
  margin-left: 21px;
  margin-top: 30px;
  width: 36px;
  height: 6px;
  flex-shrink: 0
}
.style-82,
.style-83,
.style-84,
.style-85,
.style-86,
.style-87 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em;
  font-weight: 700;
  margin-left: 0;
  margin-top: 16px;
  height: 3px
}
.style-83,
.style-84,
.style-85,
.style-86,
.style-87 {
  margin-left: 7px;
  height: 4px
}
.style-84,
.style-85,
.style-86,
.style-87 {
  height: 3px
}
.style-85,
.style-86,
.style-87 {
  height: 4px
}
.style-86,
.style-87 {
  height: 3px
}
.style-87 {
  margin-left: 6px;
  height: 4px
}
.-row-0-column-7 {
  display: flex;
  margin-left: 6px;
  margin-top: 5px;
  width: 36px;
  height: 15px;
  align-items: center;
  flex-direction: column
}
.style-2,
.style-88 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em;
  font-weight: 700;
  margin-top: 0;
  height: 4px
}
.style-88 {
  margin-top: 7px
}
.-row-1 {
  display: flex;
  margin-left: 115px;
  margin-top: 24px;
  width: 212px;
  height: 46px
}
.style-3 {
  margin-left: 0;
  width: 32px;
  height: 100%;
  align-self: stretch
}
.-row-1-column-1 {
  display: flex;
  margin-left: 9px;
  margin-top: 10px;
  width: 83px;
  height: 14px;
  flex-direction: column
}
.style-4,
.style-6 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif
}
.style-4 {
  font-weight: 700;
  font-size: .5em;
  margin-top: 0;
  height: 6px
}
.style-6 {
  font-size: .25em;
  margin-top: 3px;
  height: 4px
}
.style-135 {
  margin-left: 72px;
  margin-top: 13px;
  width: 15px;
  height: 7px
}
.style-5 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .375em;
  font-weight: 700;
  margin-left: 130px;
  margin-top: 10px;
  height: 4px
}
.-row-3 {
  display: flex;
  margin-left: 135px;
  margin-top: 11px;
  width: 168px;
  height: 4px;
  align-items: stretch
}
.style-7 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em;
  font-weight: 700;
  margin-left: 0
}
.style-8 {
  margin-left: 4px
}
.style-15,
.style-8,
.style-9 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em
}
.style-15 {
  font-weight: 700;
  margin-left: 52px
}
.style-9 {
  margin-left: 5px
}
.-row-4 {
  display: flex;
  margin-left: 135px;
  margin-top: 5px;
  width: 152px;
  height: 4px;
  align-items: stretch
}
.style-13 {
  color: #fff;
  font-weight: 700;
  margin-left: 0
}
.style-10,
.style-128,
.style-13,
.style-16 {
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em
}
.style-128 {
  margin-left: 8px;
  color: #000
}
.style-10,
.style-16 {
  color: #fff
}
.style-16 {
  font-weight: 700;
  margin-left: 62px
}
.style-10 {
  margin-left: 4px
}
.-row-5 {
  display: flex;
  margin-left: 135px;
  margin-top: 5px;
  width: 180px;
  height: 4px;
  align-items: stretch
}
.style-14 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em;
  font-weight: 700;
  margin-left: 0
}
.style-11 {
  margin-left: 4px
}
.style-11,
.style-12,
.style-17 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em
}
.style-17 {
  font-weight: 700;
  margin-left: 23px
}
.style-12 {
  margin-left: 5px
}
.style-0 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b6y5k.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .06;
  display: flex;
  margin-left: 0;
  margin-top: 40px;
  width: 375px;
  height: 117px;
  flex-direction: column
}
.-image-0-row-0 {
  display: flex;
  margin-left: 39px;
  margin-top: 35px;
  width: 268px;
  height: 14px;
  align-items: center
}
.style-18,
.style-20,
.style-25,
.style-29 {
  font-family: emprint,serif;
  font-weight: 700
}
.style-18 {
  color: #fff;
  line-height: 10px;
  margin-left: 0;
  width: 60px;
  font-size: .4375em
}
.style-20,
.style-25,
.style-29 {
  text-align: center;
  font-size: .375em;
  height: 6px
}
.style-20 {
  color: #fff;
  margin-left: 36px
}
.style-25,
.style-29 {
  color: rgba(255,255,255,.66);
  margin-left: 56px
}
.style-29 {
  margin-left: 65px
}
.-image-0-row-1 {
  position: relative;
  display: flex;
  margin-left: 128px;
  margin-top: 4px;
  width: 194px;
  height: 4px;
  align-items: stretch;
  justify-content: space-between
}
.style-22,
.style-24,
.style-28 {
  text-align: center;
  font-family: emprint,serif;
  font-size: .3125em;
  flex-shrink: 0
}
.style-22 {
  position: relative;
  color: #fff
}
.style-24,
.style-28 {
  color: #acacac
}
.-image-0-row-2 {
  display: flex;
  margin-left: 39px;
  margin-top: 26px;
  width: 264px;
  height: 5px;
  align-items: center
}
.style-19,
.style-21,
.style-27,
.style-31 {
  text-align: center;
  font-family: emprint,serif;
  font-weight: 700
}
.style-19 {
  color: #fff;
  margin-left: 0;
  height: 100%;
  font-size: .4375em
}
.style-21,
.style-27,
.style-31 {
  font-size: .375em
}
.style-21 {
  color: #fff;
  margin-left: 39px;
  height: 100%
}
.style-27,
.style-31 {
  color: rgba(255,255,255,.66);
  margin-left: 70px;
  height: 1px
}
.style-31 {
  margin-left: 74px
}
.-image-0-row-3 {
  display: flex;
  margin-left: 129px;
  margin-top: 8px;
  width: 194px;
  height: 4px;
  align-items: stretch;
  justify-content: space-between
}
.style-23,
.style-26,
.style-30,
.style-32 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .3125em
}
.style-26,
.style-30,
.style-32 {
  color: #acacac
}
.style-32 {
  color: #deb303;
  font-size: .25em;
  margin-left: 139px;
  margin-top: 1px;
  height: 3px
}
.style-129 {
  margin-left: 39px;
  margin-top: 10px;
  width: 297px;
  height: 23px
}
.style-33 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b6zbp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .06;
  display: flex;
  margin-left: 0;
  margin-top: 21px;
  width: 375px;
  height: 102px;
  flex-direction: column
}
.-image-3-row-0 {
  display: flex;
  margin-left: 39px;
  margin-top: 18px;
  width: 285px;
  height: 64px
}
.-image-3-row-0-column-1,
.style-118 {
  margin-left: 0;
  width: 94px;
  height: 100%;
  align-self: stretch
}
.-image-3-row-0-column-1 {
  display: flex;
  margin-left: 12px;
  width: 85px;
  flex-direction: column
}
.style-116,
.style-117,
.style-120 {
  color: #fff;
  font-family: emprint,serif;
  font-size: .3125em;
  font-weight: 700;
  line-height: 8px;
  margin-top: 0;
  width: 100%
}
.style-116,
.style-117 {
  margin-top: 5px
}
.style-117 {
  margin-top: 6px;
  width: 70px
}
.-image-3-row-0-column-2 {
  position: relative;
  display: flex;
  margin-left: 17px;
  margin-top: 2px;
  width: 66px;
  height: 69px;
  flex-direction: column
}
.style-35,
.style-37 {
  font-family: emprint,serif;
  flex-shrink: 0
}
.style-35 {
  font-weight: 700;
  line-height: 6px;
  width: 34px;
  color: #000;
  font-size: .25em;
  margin-top: 0
}
.style-37 {
  color: #deb303;
  text-align: center;
  font-size: .3125em;
  position: relative;
  margin-left: 57px;
  margin-top: 2px;
  height: 5px
}
.-image-3-row-0-column-2-row-1 {
  display: flex;
  margin-top: 11px;
  width: 77px;
  height: 5px;
  align-items: stretch;
  flex-shrink: 0
}
.style-36 {
  color: #000;
  font-family: emprint,serif;
  font-size: .25em;
  font-weight: 700;
  margin-left: 0
}
.style-34,
.style-38 {
  color: #deb303;
  text-align: center;
  font-family: emprint,serif;
  font-size: .3125em;
  margin-left: 11px
}
.style-34 {
  color: #000;
  font-size: .25em;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 11px;
  height: 5px;
  flex-shrink: 0
}
.style-53 {
  position: relative;
  margin-left: 8px;
  margin-top: 10px;
  width: 66px;
  height: 20px;
  flex-shrink: 0
}
.-row-10 {
  display: flex;
  margin-left: 44px;
  margin-top: 17px;
  width: 267px;
  height: 10px;
  align-items: center
}
.style-125 {
  color: #000;
  font-size: .3125em;
  margin-left: 0;
  height: 5px
}
.style-121,
.style-125,
.style-126,
.style-39 {
  font-family: emprint,serif;
  font-weight: 700
}
.style-126 {
  font-size: .3125em;
  margin-left: 14px;
  height: 5px;
  color: #ffb700
}
.style-121,
.style-39 {
  color: #fff;
  text-align: center
}
.style-121 {
  line-height: 8px;
  width: 43px;
  font-size: .3125em;
  margin-left: 41px
}
.style-39 {
  font-size: .625em;
  margin-left: 39px;
  margin-top: 38px;
  height: 7px
}
.-row-12 {
  display: flex;
  margin-left: 43px;
  margin-top: 31px;
  width: 290px;
  height: 167px
}
.style-54 {
  color: #000;
  text-align: center;
  font-family: emprint,serif;
  font-size: .3125em;
  font-weight: 700;
  margin-left: 2px;
  margin-top: 3px;
  height: 4px
}
.-row-12-column-0 {
  display: flex;
  margin-left: 0;
  width: 74px;
  height: 161px;
  align-self: center;
  flex-direction: column
}
.style-59,
.style-60 {
  color: #000;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em;
  margin-top: 22px;
  height: 3px
}
.style-59 {
  font-weight: 700
}
.style-60 {
  margin-left: 33px
}
.-row-12-column-0-row-1 {
  display: flex;
  margin-top: 11px;
  width: 42px;
  height: 3px;
  align-items: stretch
}
.style-61,
.style-62 {
  color: #000;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em
}
.style-62 {
  font-weight: 700;
  margin-left: 0
}
.style-61 {
  margin-left: 3px
}
.style-130 {
  margin-left: 21px;
  margin-top: 15px;
  width: 43px;
  height: 72px
}
.style-66,
.style-67,
.style-72 {
  color: #000;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em;
  font-weight: 700;
  margin-left: 22px;
  margin-top: 6px;
  height: 3px
}
.style-66,
.style-72 {
  font-size: .3125em;
  margin-left: 2px;
  margin-top: 19px;
  height: 5px
}
.style-66 {
  font-size: .25em;
  margin-left: 28px;
  margin-top: 41px;
  height: 3px
}
.-row-12-column-2 {
  position: relative;
  display: flex;
  margin-left: 102px;
  margin-top: 26px;
  width: 48px;
  height: 138px;
  flex-direction: column
}
.style-63,
.style-64,
.style-65 {
  color: #000;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em
}
.style-65 {
  font-weight: 700;
  margin-top: 0;
  flex-shrink: 0;
  height: 3px
}
.style-63,
.style-64 {
  height: 4px
}
.style-63 {
  position: relative;
  flex-shrink: 0;
  margin-left: 42px;
  margin-top: 0
}
.style-64 {
  margin-left: 26px;
  margin-top: 11px
}
.style-131,
.style-64,
.style-68 {
  position: relative;
  flex-shrink: 0
}
.style-131 {
  width: 43px;
  margin-left: 21px;
  margin-top: 14px;
  height: 72px
}
.style-68 {
  color: #000;
  text-align: center;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 6px;
  height: 3px
}
.style-109,
.style-55,
.style-68 {
  font-family: emprint,serif;
  font-size: .25em
}
.style-109 {
  font-weight: 700;
  flex-shrink: 0;
  color: #fff;
  margin-top: 20px;
  height: 3px
}
.style-55 {
  color: #000;
  text-align: center;
  margin-left: 19px;
  margin-top: 3px;
  height: 4px
}
.style-106 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b72i6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 222px;
  width: 68px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style-107 {
  color: #fff;
  font-size: .25em;
  margin-left: 4px;
  margin-top: 4px;
  height: 3px
}
.style-107,
.style-108,
.style-57 {
  font-family: emprint,serif;
  font-weight: 700
}
.style-108 {
  height: 3px;
  color: #fff;
  font-size: .25em;
  margin-left: 4px;
  margin-top: 153px
}
.style-57 {
  color: #000;
  font-size: .3125em;
  line-height: 8px;
  position: relative;
  margin-left: 250px;
  margin-top: 596px;
  width: 23px
}
.style-110 {
  margin-left: 39px;
  margin-top: 135px;
  width: 297px;
  height: 123px
}
.style-40 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .625em;
  font-weight: 700;
  margin-left: 39px;
  margin-top: 35px;
  height: 9px
}
.-row-16 {
  display: flex;
  margin-left: 67px;
  margin-top: 25px;
  width: 233px;
  height: 7px;
  align-items: stretch
}
.style-41,
.style-42 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .375em;
  font-weight: 700;
  margin-left: 0
}
.style-42 {
  margin-left: 74px
}
.-row-17 {
  display: flex;
  margin-left: 76px;
  margin-top: 12px;
  width: 242px;
  height: 53px
}
.style-105 {
  margin-left: 0;
  width: 70px;
  height: 100%;
  align-self: stretch
}
.-row-17-column-1 {
  display: flex;
  margin-left: 67px;
  margin-top: 2px;
  width: 105px;
  height: 40px;
  align-items: center;
  flex-direction: column
}
.style-104 {
  margin-top: 0;
  width: 100%;
  height: 18px
}
.style-45,
.style-46 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .3125em;
  margin-top: 5px;
  height: 6px
}
.style-46 {
  font-weight: 700;
  margin-top: 7px;
  height: 4px
}
.-row-18 {
  position: relative;
  display: flex;
  margin-left: 62px;
  margin-top: 0;
  width: 238px;
  height: 50px
}
.style-119,
.style-43 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .3125em
}
.style-43 {
  height: 4px;
  margin-left: 20px;
  margin-top: 9px
}
.style-119 {
  font-weight: 700;
  line-height: 8px;
  margin-left: 0;
  margin-top: 37px;
  width: 99px
}
.style-127 {
  margin-left: 67px;
  width: 72px;
  height: 100%;
  align-self: stretch
}
.style-44,
.style-50 {
  color: #fff;
  font-family: emprint,serif
}
.style-44 {
  text-align: center;
  font-size: .3125em;
  margin-left: 243px;
  margin-top: 4px;
  height: 6px
}
.style-50 {
  font-size: .25em;
  margin-left: 267px;
  margin-top: 8px;
  height: 5px
}
.-row-21 {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
  width: 293px;
  height: 79px
}
.style-91 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b70ho.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  width: 119px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style-49 {
  color: #000;
  text-align: center;
  font-family: emprint,serif;
  font-size: .375em;
  font-weight: 700;
  line-height: 10px;
  position: relative;
  margin-left: 82px;
  margin-top: 76px;
  width: 171px;
  flex-shrink: 0
}
.-row-21-column-1 {
  display: flex;
  margin-left: 2px;
  margin-top: 10px;
  width: 106px;
  height: 25px;
  flex-direction: column
}
.style-47,
.style-48,
.style-94 {
  color: #fff;
  font-family: emprint,serif
}
.style-47 {
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  height: 9px;
  font-size: .625em
}
.style-48,
.style-94 {
  font-size: .3125em
}
.style-48 {
  line-height: 8px;
  width: 100%;
  margin-top: 5px
}
.style-94 {
  text-align: center;
  font-weight: 700;
  margin-left: 43px;
  margin-top: 21px;
  height: 4px
}
.-row-22 {
  display: flex;
  margin-left: 48px;
  margin-top: 34px;
  width: 213px;
  height: 7px;
  align-items: center
}
.style-100,
.style-99 {
  color: #ffb700;
  text-align: center;
  font-family: emprint,serif;
  font-size: .4375em;
  font-weight: 700;
  margin-left: 0;
  height: 6px
}
.style-100 {
  color: #fff;
  margin-left: 134px;
  height: 100%
}
.-row-23 {
  display: flex;
  margin-left: 48px;
  margin-top: 6px;
  width: 264px;
  height: 16px;
  align-items: stretch
}
.style-101,
.style-103 {
  color: #fff;
  font-family: emprint,serif;
  font-size: .3125em;
  line-height: 8px;
  margin-left: 0;
  width: 120px
}
.style-103 {
  margin-left: 33px;
  width: 111px
}
.-row-24 {
  display: flex;
  margin-left: 39px;
  margin-top: 9px;
  width: 297px;
  height: 48px;
  align-items: stretch
}
.style-92 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b70lz.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  width: 145px;
  flex-direction: column;
  justify-content: center
}
.style-112 {
  color: #fff;
  font-family: emprint,serif;
  font-size: .5em;
  font-weight: 700;
  margin-left: 55px;
  height: 15px
}
.style-93 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b70p7.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 8px;
  width: 145px;
  flex-direction: column;
  justify-content: center
}
.-row-24-image-11-row-0 {
  display: flex;
  margin-left: 13px;
  width: 113px;
  height: 14px;
  align-items: center
}
.style-102,
.style-111 {
  color: #fff;
  font-family: emprint,serif;
  font-size: .5em;
  font-weight: 700
}
.style-111 {
  text-align: center;
  margin-left: 0;
  height: 6px
}
.style-102 {
  margin-left: 27px;
  height: 100%
}
.-row-25 {
  display: flex;
  margin-left: 40px;
  margin-top: 14px;
  width: 297px;
  height: 64px
}
.style-113 {
  color: #ffb700;
  font-family: emprint,serif;
  font-size: .75em;
  font-weight: 700;
  margin-left: 0;
  margin-top: 8px;
  height: 9px
}
.-row-25-column-0 {
  display: flex;
  margin-left: 0;
  width: 222px;
  height: 46px;
  align-self: center;
  flex-direction: column
}
.style-114,
.style-115 {
  color: #fff;
  font-family: emprint,serif;
  font-size: .375em;
  font-weight: 700
}
.style-114 {
  line-height: 10px;
  width: 202px;
  margin-top: 18px
}
.style-115 {
  margin-top: 8px;
  height: 7px
}
.style-132 {
  margin-left: 1px;
  width: 74px;
  height: 100%;
  align-self: stretch
}
.-row-26 {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  width: 280px;
  height: 18px
}
.style-95 {
  color: #000;
  text-align: center;
  font-family: emprint,serif;
  font-size: .625em;
  font-weight: 700;
  margin-left: 0;
  margin-top: 2px;
  height: 8px
}
.style-133 {
  margin-left: 80px;
  width: 36px;
  height: 100%;
  align-self: stretch
}
.-row-27 {
  display: flex;
  margin-left: 40px;
  margin-top: 1px;
  width: 273px;
  height: 24px
}
.style-96 {
  color: #000;
  font-family: emprint,serif;
  font-size: .3125em;
  line-height: 8px;
  margin-left: 0;
  width: 217px;
  align-self: stretch
}
.style-51,
.style-75,
.style-97 {
  font-family: emprint,serif;
  font-weight: 700
}
.style-97 {
  text-align: center;
  font-size: .3125em;
  margin-top: 15px;
  height: 4px;
  color: #fff;
  margin-left: 35px
}
.style-51,
.style-75 {
  color: #000;
  margin-left: 40px
}
.style-51 {
  text-align: center;
  font-size: .625em;
  margin-top: 35px;
  height: 8px
}
.style-75 {
  font-size: .375em;
  margin-top: 9px;
  height: 6px
}
.-row-30 {
  display: flex;
  margin-left: 47px;
  margin-top: 24px;
  width: 280px;
  height: 31px
}
.style-134 {
  margin-left: 0;
  margin-top: 9px;
  width: 23px;
  height: 17px
}
.style-76 {
  color: #000;
  font-family: emprint,serif;
  font-size: .3125em;
  line-height: 9px;
  margin-left: 8px;
  width: 97px;
  align-self: stretch
}
.style-124 {
  margin-left: 24px;
  width: 23px;
  height: 25px;
  align-self: center
}
.style-78 {
  color: #000;
  font-family: emprint,serif;
  font-size: .3125em;
  line-height: 9px;
  margin-left: 7px;
  width: 98px;
  align-self: center
}
.-row-31 {
  display: flex;
  margin-left: 48px;
  margin-top: 29px;
  width: 279px;
  height: 26px;
  align-items: center
}
.style-123 {
  margin-left: 0;
  width: 23px;
  height: 23px
}
.style-77 {
  color: #000;
  font-family: emprint,serif;
  font-size: .3125em;
  line-height: 9px;
  margin-left: 8px;
  width: 96px
}
.style-122 {
  margin-left: 26px;
  width: 20px;
  height: 100%
}
.style-52,
.style-74,
.style-79 {
  color: #000;
  font-family: emprint,serif
}
.style-79 {
  line-height: 9px;
  width: 97px;
  font-size: .3125em;
  margin-left: 8px
}
.style-52,
.style-74 {
  text-align: center;
  font-size: .625em;
  font-weight: 700;
  margin-left: 156px;
  margin-top: 28px;
  height: 8px
}
.style-74 {
  color: #fff;
  margin-left: 40px;
  margin-top: 37px;
  height: 7px
}
.style-73 {
  background-image: url(https://designresources.assets.yotako.io/40599ufjh8b6zz2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .06;
  display: flex;
  margin-left: 0;
  margin-top: 8px;
  width: 375px;
  height: 219px;
  align-items: center;
  flex-direction: column
}
.style-80 {
  margin-top: 25px;
  width: 297px;
  height: 122px
}
.style-81 {
  color: #fff;
  font-family: emprint,serif;
  font-size: .3125em;
  font-weight: 700;
  margin-top: 21px;
  height: 4px
}
.-image-6-row-2 {
  display: flex;
  margin-top: 31px;
  width: 296px;
  height: 11px;
  align-items: center
}
.style-90 {
  margin-left: 0;
  width: 36px;
  height: 100%
}
.style-89 {
  color: #fff;
  text-align: center;
  font-family: emprint,serif;
  font-size: .25em;
  font-weight: 700;
  margin-left: 200px;
  height: 4px
}